cxf-consultar-imagen-rad/src/main/resources/wsdl/ImagenRadicado.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.servisoft.com.co/Mercurio/Servicios/Schema/ImagenRadicado" xmlns:transaccion="http://www.servisoft.com.co/Mercurio/Servicios/Schema/Transaccion" targetNamespace="http://www.servisoft.com.co/Mercurio/Servicios/Schema/ImagenRadicado">
	  	
	<xsd:import namespace="http://www.servisoft.com.co/Mercurio/Servicios/Schema/Transaccion" schemaLocation="Transaccion.xsd"></xsd:import>  	
	  	
	<xsd:element name="ImagenRadicadoRequest" type="tns:ImagenRadicadoRequest"></xsd:element>
	<xsd:element name="ImagenRadicadoResponse" type="tns:ImagenRadicadoResponse"></xsd:element>  	
	  	
	<xsd:complexType name="ImagenRadicadoRequest">
		<xsd:sequence>
			<xsd:element name="idRadicado" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="idTipoDocumento" type="xsd:string" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ImagenRadicadoResponse">
		<xsd:sequence>
			<xsd:element name="resultado" type="xsd:boolean" minOccurs="1"></xsd:element>
			<xsd:element name="Transaccion" type="transaccion:Transaccion" minOccurs="1"></xsd:element>
			<xsd:element name="ImagenRadicado" type="tns:ImagenRadicado" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType name="ImagenRadicado">
		<xsd:sequence>
			<xsd:element name="idRadicado" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="idTipoDocumento" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="nombreImagen" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="imagenEncodeBase64" type="xsd:string" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	  	
</xsd:schema>