src/main/resources/wsdl/Transaccion.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.servisoft.com.co/Mercurio/Servicios/Schema/Transaccion" targetNamespace="http://www.servisoft.com.co/Mercurio/Servicios/Schema/Transaccion">
	
	<xsd:element name="Transaccion" type="tns:Transaccion"></xsd:element>
	
	<xsd:complexType name="Transaccion">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="descripcionTransaccion" type="xsd:string" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>